html {
  height: 100%;
  background-color: ;
}
body {
  height: 100%;
  background-color: #c8c1ba
}

h1{
  text-align: center;
  background-color: ;
  font-size: 48px;
  font-style:italic;
  padding: ;
  border: ;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIUj72G06O43ZP7G3XN7p_kbt0C3u6-JOf4N5vjAm0ZAfVXnPWwQ);
}
h3{
  padding: 30px;

}
h2,h3,h4{
  text-align: center;
  font-size: 24px;
  font-style: italic;
}
header {
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIUj72G06O43ZP7G3XN7p_kbt0C3u6-JOf4N5vjAm0ZAfVXnPWwQ);
  padding: 5px;
  font-size: ;
  display: block;
  margin: 1px black;
  width: 100%;
}
nav ul li{
  display: block;
  list-style: none;
  padding: 8px;
}
  element.style {
    color: black;
    padding: 8px 16px;


}
nav li{
  display: block;
  float: left;
  padding; 8px 16px;
  color: black;
}
.nav-lists{
  text-align: right;
  margin-right: 25px
  padding; 8px 16px;
  color: black;
}
.nav-list li{
  list-style: none;
  display: inline;
  margin: 2px,4px;
  padding; 8px 16px;
  color: black;

}
a{
  padding: 8px 16px;
  color: black;
}
p{
  font-size: 16px;
}

img{
display: block;
    margin: auto;
    padding: 8px 12px 24px 12px;


}

.button{
  margin:0 auto;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: #89aab5;
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}
footer{
  text-align: center;

}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
    padding; 8px 16px;
    color: black;
}
