html {
  height: 100%;
  background-color: ;
}
body {
  height: 100%;
  background-color: ;
}
img{
  display: block;
  text-align: center;
}
h1{
  text-align: center;
  background-color: ;
  font-size: 48px;
  font-style:italic;
  padding: ;
  border: ;
}
h3{
  padding: 30px;
}
h2,h3,h4{
  text-align: center;
  font-size: 24px;
  font-style: italic;
}
header {
background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRXuq77__0v_gQHnuHF62GLnmLi1cTzgIinBBhteaALgmOMYkGI);

  color: black;
  padding: 5px;
  font-size: ;
  display: block;
  margin: 1px black;
  width: 100%;
}

nav ul li{
  display: block;
  list-style: none;
  padding: 8px;
}
.fampic{
  align:center;
}
a{
  padding: 8px 16px;
  color: black;
}
nav li{
  display: block;
  float: left;
  padding; 8px 16px;
  color: black;
}
.nav-lists{
  text-align: right;
  margin-right: 25px
  padding; 8px 16px;
  color: black;
}
.nav-list li{
  list-style: none;
  display: inline;
  margin: 2px,4px;
  padding; 8px 16px;
  color: black;
}
ol{
  padding: 40px;
  color: black;
}
p{
  font-size: 16px;
}
div img{
  text-align: center;


}
.fampic{
  width: 50%;
  margin-left: 300px;
}
.button{
  margin: 3px 2px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}
footer{

}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
