html {
  height: 100%;
  background-image:  https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRN0syuIuRql1ud8HxMhJ-t3UZeuxaizW7fV4FxRPQTVtoAwNU8;
}

body {
  height: 100%;
  background-color:#5f66a0 ;
}
div{
  display: block;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaGLFfV0LEAUQu5EXojmVBdxPI9M1D5t3ekYSa4tnc2HmtqpNs6w);

}

img{
  display: block;
  text-align: center;
}
h1{
  text-align: center;
  background-color: ;
  font-size: 48px;
  font-style:italic;
  padding: ;
  border: ;

}
h3{
  padding: 30px;
}
h2,h3,h4{
  text-align: center;
  font-size: 24px;
  font-style: italic;
}
header {


  color: black;
  padding: 5px;
  font-size: ;
  display: block;
  margin: 1px black;
  width: 100%;

}

nav ul li{
  display: block;
  list-style: none;
  padding: 8px;
}
.fampic{
  align:center;
}
a{
  padding: 8px 16px;
  color: black;
}
nav li{
  display: block;
  float: left;
  padding; 8px 16px;
  color: black;
}
.nav-lists{
  text-align: right;
  margin-right: 25px
  padding; 8px 16px;
  color: black;
}
.nav-list li{
  list-style: none;
  display: inline;
  margin: 2px,4px;
  padding; 8px 16px;
  color: black;
}
ol{
  padding: 40px;
  color: black;
}

p{
  font-size: 16px;
}
div img{
  text-align: center;
}
.fampic{
  width: 50%;
  margin-left: 300px;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
