html {
  height: 100%;
  background-color: ;
}
body {
  height: 100%;
  background-color: darkgrey;

}

h1{
  color: white;
  text-align: center;
  background-color: ;
  font-size: 48px;
  font-style:italic;
  padding: ;
  border: ;

}
h2,h3,h4{
  text-align: center;
  font-size: 24px;
  font-style: italic;
}
header {
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRVP_P0_O8Xn5NCophkT9tdc-uhDheghey0kRToM8lHckrV3iFuVg);
  background-color: #6495ED;
  padding: 5px;
  font-size: ;
  display: block;
  margin: 1px black;
  width: 100%;
}
nav ul li{
  display: block;
  list-style: none;
}
nav li{
  display: block;
  float: left;
}
ol {
  padding: 40px;
}
a{
  padding: 8px 16px;
  color: white;
}
.nav-lists{
  text-align: right;
  margin-right: 25px
}
.nav-list li{
  list-style: none;
  display: inline;
  margin: 2px,4px
  padding; 8px 16px;
  color: black;
}
p{
  font-size: 16px;
}

img{
  display: block;
  margin: auto;


}

.button{
  margin: 3px 2px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}
footer{

}
/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
